name: build-ubuntu

on:
  push:
    branches: [ "cicd-test" ]
  pull_request:

jobs:
  build-ubuntu:

    timeout-minutes: 5
    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        config:
          - {os: ubuntu-22.04, c: gcc-12, cpp: g++-12, pow_version: 0.2.2}

    steps:
    - name: Install dependencies
      run: |
        sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
        sudo apt update
        sudo apt install -y libcurl4-openssl-dev git build-essential cmake ${{ matrix.config.c }} ${{ matrix.config.cpp }}
        curl -sL https://codeload.github.com/bitbi-core/pow/zip/refs/tags/v${{matrix.config.pow_version}} -o pow.zip
        POW_HOME=$HOME/pow
        mkdir -p $POW_HOME
        unzip pow.zip -d $POW_HOME
        cd $POW_HOME/pow-${{matrix.config.pow_version}}
        mkdir build
        cd build
        cmake ..
        ls $POW_HOME/pow-${{matrix.config.pow_version}}/build

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Build Miner
      run: |
        ./autogen.sh
        ./nomacro.pl
        POW_HOME=$HOME/pow/pow-${{matrix.config.pow_version}}
        ls $POW_HOME
        ls $POW_HOME/build
        ./configure CPPFLAGS=" -I$POW_HOME/src" LIBS="-L$POW_HOME/build -lrandomx"
        make -j$(nproc)

    - name: Upload config.log
      if: failure() # Only run this step if a previous step failed
      uses: actions/upload-artifact@v2
      with:
        name: config.log
        path: /home/runner/work/miner/miner/config.log

    - name: Compress artifacts
      run: |
        tar -czvf ubuntu-${{ matrix.config.os }}.tar.gz -C ./minerd


    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu-${{ matrix.config.os }}
        path: ./ubuntu-${{ matrix.config.os }}.tar.gz